@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

@layer base{
    p{
        @apply text-base
    }
}

@media (max-width:600px){
    html{
        font-size: 55%
    }
}

@layer components{

    .container{
        @apply max-w-[90%] justify-center
    }
  .nav-bar{ 
    @apply flex text-center justify-between w-full h-28 px-10 items-center;
} 
.nav-items{
    @apply text-xl lg:text-xl font-semibold text-slate-100 py-2 px-3 lg:px-5 rounded-[8px] hover:bg-purple-600
}
.links{
    @apply hidden lg:block
}
.btn{
    @apply bg-rose-500 hover:bg-purple-600 rounded-[5px] py-3 px-6
}

}